#para1{
    font-size: 30px;
    color: black;
    font-style: italic;
    background-color: bisque;
}
#image{
    width: 750px;
    height: 600px;
}
#name{
    font-size: 70px;
    color: black;
    font-style: italic;
    background-color: bisque;

}
#Learn{
    font-size: 30px;
    color:purple ;
    font-style: italic;
    text-decoration: none;
    background-color: antiquewhite;

}
#Fakhar2{
    font-size: 70px;
    color: black;
    font-style: italic;
    background-color: bisque;
}
#image2{
    width: 750px;
    height: 600px;
}
#para2{
    font-size: 30px;
    color: black;
    font-style: italic;
    background-color: bisque;
}
#Learn2{
    font-size: 30px;
    color:purple ;
    font-style: italic;
    text-decoration: none;
    background-color: antiquewhite;
}
.same{
    font-size: 30px;
    color:purple ;
    font-style: italic;
    text-decoration: none;
    background-color: antiquewhite;
}
#Shaheen2{
    font-size: 70px;
    color: black;
    font-style: italic;
    background-color: bisque;
}
#image3{
    width: 800px;
    height: 600px;
}
#para3{
    font-size: 30px;
    color: black;
    font-style: italic;
    background-color: bisque;
}
#Learn3{
    font-size: 30px;
    color:purple ;
    font-style: italic;
    text-decoration: none;
    background-color: antiquewhite;
}
#top1{
    font-size: 30px;
    color:purple ;
    font-style: italic;
    text-decoration: none;
    background-color: antiquewhite;
}